body {
    justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor principal */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor principal */
    font-family: Arial;
}

* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    transition: 0.7s;
    padding: 20px 15px;
    z-index: 5;
    align-items: center; /* Centra verticalmente los elementos */
    background-color: white;
}

header.abajo {
    background: #cdcdec;
    padding: 20px 20px;
}
li .inicia {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f5ef9a;
    color: #000000;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

li .inicia:hover {
    background-color: #390cef;
}

header .logo {
    color: #000;
    font-size: 1.4em;
    transition: 1.5s;
    text-decoration: none;
    margin-right:100px;
    padding-right: 15%;


}

header img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    position: fixed; /* Fija la imagen */
    left: calc(30px + 3em); /* Ajusta la posición horizontal junto al logo */
    top: 8.5px; /* Ajusta la posición vertical */
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    border-right: 1.3px solid #000000; /* Añade una línea derecha a todos los elementos excepto el último */
    padding-right: 20px; /* Añade espacio a la derecha de cada elemento */
}

header ul li a {
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
    letter-spacing: 1px;
    transition: 0.7s;
    font-size: 1.1em;
    padding-left: 10px;
    align-items: center;

}

header ul li:hover {
    height: 2.5vh;
    border-radius: 7px;
}
.mapa{
    position: relative;
    width: 100%;
    height: 50vh;
    margin-bottom: auto;
    background-image: linear-gradient(180deg, #0000000c 0%, #0000000c 90%), url('../img/fondo3.png');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    display: grid;
    align-content: center;
    padding-bottom: 150px;
    text-align: center;
}

.parrafoT{
    margin-top: 210px;
    color: #000000;
    font-size: 2em; /* Tamaño de la fuente para el párrafo */
    align-items: center;
    text-align: center;
    justify-content: center;
}
.parrafo{
    margin-bottom: 50px;
    display: grid;
    align-content: center;
    gap: 2em;
    text-align: center;
    margin-top: 80px;
    color: #000000;
    font-size: 1.5em; /* Tamaño de la fuente para el párrafo */
}
.cta{
    display: inline-block;
    background-color: #303030;
    justify-self: center;
    color: #ffff;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 32px;
    font-size: 1em; /* Tamaño de la fuente para el párrafo */
}
.servicio{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 40px;
}
.servicios {
    display: flex;
    justify-content: center; /* Alinea el slider a la izquierda */
    align-items: center;
    margin-top: 50px;
}
.slider {
    max-width: 90%;
    align-items: center;
    overflow: hidden; /* Oculta el contenido fuera del slider */
    position: relative;
    margin-bottom: 10px; /* Espacio inferior */

}
.slides {
    display: flex;
    width: 50%; /* Ancho total de todos los slides */
    transition: transform 0.8s ease; /* Agrega una animación al cambiar de slide */
}
.slide {
    flex: 0 0 100%; /* Cada slide ocupa el # del ancho del slider */
    padding: 0 20px; /* Espacio entre los slides */
    border: 5px solid #ffffff; /* Borde para el slide */
}
.slide:nth-child(1) {
    background-color: #92cdc7; /* Color de fondo para el primer slide */
}
.slide:nth-child(2) {
    background-color:  #e7e29e; /* Color de fondo para el segundo slide */
}
.slide:nth-child(3) {
    background-color: #9fb8e2; /* Color de fondo para el tercer slide */
}
.slide:nth-child(4) {
    background-color:  #CDCDEC; /* Color de fondo para el cuarto slide */
}
.info-servicio {
    padding: 20px;
    text-align: justify; /* Alinea el texto a la derecha */
    max-width: 80%;
}
.info-servicio h1 {
    font-size: 1.7rem;
    margin-top: 20px;
}
.info-servicio p {
    font-size: 1.5rem;
    margin-top: 20px;
}
.slide img {
    max-width: 25%; /* Ancho máximo para todas las imágenes */
    height: auto; /* Para mantener la relación de aspecto */
    border: 2px solid #000000; /* Borde sólido */
    float: left; /* Alinea la imagen a la izquierda */
    margin-right: 80px; /* Agrega espacio entre la imagen y el texto */
    margin-left: 50px;
    margin-bottom: 20px;
}
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
.frase{
    background-color:rgba(18, 16, 29, 1) ;
    margin-top: 30px;
    max-width: 95%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
}
.frase h1{
    font-size: 2rem;
    color: white;
    align-items: center;
    text-align: center;
}
.linea{
    border-top: 1px solid #000000; /* Estilo de la línea horizontal */
    margin: 30px 80px; /* Margen superior e inferior para espaciado */
}
.ventaja {
    margin-top: 50px;
    text-align: center;
    font-size: 1.4rem;
}
.ventajass{
    text-align: left;
    margin-left: 25px;
    margin-top: 80px;
}
.texto{
    text-align: justify;
    justify-content: center;
    margin-top: 20px;
    max-width: 45%;
    flex: 0.7;
    margin-right: 20%;
    margin-left: 10%;
}
.contenido {
    display: flex; /* Usa flexbox para alinear los elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
}
.texto h2 {
    margin-bottom: 10px; /* Espacio inferior para el título del texto */
}
img {
    max-width: 20%; /* Define el ancho máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    justify-content: right;
    margin-bottom: 50px;
}

.footer__container{
    background-color: rgba(18, 16, 29, 1);
    margin-top: 20px;
    color: rgba(18, 16, 29, 1);
    text-decoration: none;
}

.footer__title{
    font-size: 1.2rem;
    margin-bottom: 10px;
    padding-top: 20px;
}

.footer__title, .footer__newsletter{
    color: #FFFFFF;
    text-decoration: none;

}

.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    padding-bottom: 40px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 30px;
    flex-wrap: wrap;
    text-decoration: none;
}

.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 20px;
    padding: 0 20px ;
    background-color: #92bbe2;
    border: none;
    font-size: 1rem;
    color: #000000;
    border-radius: 6px;
    cursor: pointer;
}

.questions__cta{
    display: inline-block;
    background-color: #303030;
    justify-items: center;
    color: #ffff;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 32px;
    font-size: 1em; /* Tamaño de la fuente para el párrafo */
    align-items: center;
    margin-left: 45%;
    margin-bottom: 20px;

}
.footer__copy__container{
    text-align: center;
    color: #FFFFFF;
    max-height: 20px;
}

.footer__img{
    width: 30px;
}

.nav__linksf{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2rem;
    margin-left: 20px;
}
.subtitle{
    font-size: 2rem;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
}
.questions__copy{
    padding-top: 20px;
    max-width: 90%; /* Define el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    font-size: 1.2rem;
}
.beneficios{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.5em;
}
.textos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.fila-arriba,
.fila-abajo {
    display: flex;
}

.textof {
    background-color: #f9f9f9;
    padding: 40px;
    border: 2px solid #9fb8e2;
    width: 350px;
    margin-right: 40px; /* Espacio entre los textos */
    border-radius: 10px;
    font-size: 1.2rem;
}

.textof p {
    font-size: 1.5rem;
    text-align: justify;
    margin-top: 20px;
}
.textof img{
    max-width: 90%;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 0;

}
